# Build the Dastan user manual:
#   pip install -r docs-requirements.txt
#   mkdocs serve      (live preview on http://127.0.0.1:8000)
#   mkdocs build      (static site into ./site)
mkdocs-material>=9.5
